<div class="post">
    <div class="header">
        <h1>Post title</h1>

        <button 
            [routerLink]="'/'"
            class="btn btn-link"
        >На главную</button>
    </div>

    <div class="info">
        <strong>Тут автор</strong>
        <small>12.30.2019</small>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, quis. Beatae non esse exercitationem, animi praesentium quaerat corporis qui ea vel. Vel ab similique fuga eos laboriosam rem fugiat repellendus fugit deserunt, odio possimus velit expedita? Inventore corrupti sequi cumque?</p>
    </div>
</div>
